*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  background: #1c2431;
  color: white;
}

h1 {
  font-family: "Raleway", sans-serif;
}

.btn {
  cursor: pointer;
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 1em 5em;
  border: none;
  color: white;
  background-color: #339ecc;
  border-radius: 100vh;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.6;
}

nav {
  background: #1c2431;
  padding: 2rem 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  width: 112px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.nav-list .nav-item {
  list-style: none;
}

.nav-list .nav-item .nav-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.padding {
  padding: 0 3rem;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/images/bg-curvy-mobile.svg) no-repeat;
  background-size: contain;
  background-position-y: bottom;
  padding-bottom: 0.6rem;
}

.intro img {
  margin: 2rem 0 2.5rem;
}

.intro h1 {
  text-align: center;
  font-size: 2.1rem;
  line-height: 1.4;
}

.intro2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #181f2a;
}

.intro2 p {
  font-size: 1.19rem;
  text-align: center;
  padding: 1.8rem 0.3rem;
}

.perks-container {
  background: #181f2a;
  padding-top: 3rem;
  padding-bottom: 10rem;
}

.perks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.perks img {
  margin-bottom: 3rem;
}

.perks h1 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1rem;
}

.perks p {
  font-size: 1.2rem;
  text-align: center;
}

.productive {
  background: #181f2a;
  padding-bottom: 9rem;
}

.productive img {
  margin-bottom: 4rem;
}

.productive h1 {
  text-align: center;
  font-size: 1.6rem;
}

.productive p {
  font-size: 1.25rem;
  margin-top: 1.6rem;
}

.productive a {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #65e2d9;
  height: 25px;
  width: 150px;
  border-bottom: #65e2d9 2px solid;
}

.productive a:hover {
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

.productive a img {
  height: 20px;
  margin-left: 3px;
  padding-top: 2px;
}

.quotes-container {
  background: #181f2a;
}
/*# sourceMappingURL=styles.css.map */